@use 'shared'
@use 'colors'

.menu--logo
    position: fixed
    z-index: shared.$top-level
    top: 3%
    left: 2%
    font-size: 50px

.menu--logo span
    color: colors.$primary

.menu--instagram
    font-family: montserrat
    position: fixed
    z-index: shared.$top-level
    right: 1%
    top: 50%
    transform: rotate(-90deg)
    font-size: 35px